<!DOCTYPE html>
<html>
	<head>
		<title>HackerID de HackerGarage</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>

		<h1>&iquest;Qu&eacute; es HackerID?</h1>
		<p>HackerID es una din&aacute;mica social en HackerGarage y la forma oficial de identificarse como visitante, miembro, ex-miembro, o alguna otra caracter&iacute;stica relevante.</p>
		<p>Actualmente el sistema funciona as&iacute;:</p>
			<ul>
				<li>Cualquiera se puede registrar sin ning&uacute;n costo.</li>
				<li>Debes aportar datos ver&iacute;dicos tuyos, de lo contrario ser&aacute;s dado de baja.</li>
				<li>Quien se registre debe confirmar su correo para aparecer en la base de datos y obtener su HackerID.</li>
				<li>Se te dar&aacute; un link que apunta a tu HackerID en la web para que cualquiera (bot o humano) lo verifique con un scanner.</li>
				<li>HG ser&aacute; notificado de tu registro e internamente alguien tratar&aacute; de confirmar si adem&aacute;s haz donado ya a HG y si eres miembro activo.</li>
				<li>De ser el caso, tu HackerID cambiar&aacute; de color para reflejar tu actividad y aportaciones.</li>
				<li>&iexcl;Podr&aacute;s usar esta HackerID para identificarte en HG as&iacute; como eventos relacionados!</li>
				<li>&iexcl;Podr&aacute;s tambi&eacute;n imprimir tu HackerID o llevarla en el celular, adem&aacute;s de comprar una HackerID en HG con RFID!</li>
				<li>Continuamente estaremos agregando m&aacute;s funciones y capacidades a la HackerID</li>
			</ul>
		<p>Algunas cosas que aclarar:</p>
			<ul>
				<li>Tu HackerID nunca ser&aacute; usada para identificarte u asociarte con cualidades o de formas negativas, s&oacute;lo positivas.</li>
				<li>La idea de HackerID es facilitar procesos y ayudar, no la uses de alguna forma o actitud en que los dificulte o empeore todo.</li>
				<li>Poseer una HackerID es para uso interno en HG y no te da derecho a hablar por HG o ser su representante en alguna forma con entidades externas.</li>
				<li>HackerGarage no compartir&aacute; o vender&aacute; tu informaci&oacute;n. Esta información es exclusiva para uso interno de HG.</li>
			</ul>

			<a href="index.php?task=register">&iexcl;Reg&iacute;strate aqu&iacute;!</a><br>

			<a href="index.php?task=modify">Modifica tus datos</a><br>

			<a href="index.php?task=search">Busca una HackerID en el registro</a>

	</body>
</html>